{% extends 'dairy/base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    .form-label {
        color: brown;
    }
    .btn-custom {
            background-color: brown;
            color: white;
        }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Calf</h1>
                </div>
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Name</label>
                            {{ form.name|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_breed" class="form-label">Breed</label>
                            {{ form.breed|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_birth_date" class="form-label">Birth Date</label>
                            {{ form.birth_date|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_weight" class="form-label">Weight</label>
                            {{ form.weight|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_health_status" class="form-label">Health Status</label>
                            {{ form.health_status|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_status" class="form-label">Status</label>
                            {{ form.status|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_weaning_date" class="form-label">Weaning Date</label>
                            {{ form.weaning_date|add_class:"form-control" }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}