{% extends 'dairy/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Customers</h1>
            <ul class="list-group">
                {% for customer in objects %}
                <li class="list-group-item">
                    <a href="{% url 'customer_update' customer.pk %}">{{ customer.name }}</a>
                    <span class="float-end">
                        <a href="{% url 'customer_delete' customer.pk %}" class="text-danger">Delete</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'customer_create' %}" class="btn btn-primary float-end mt-3">Create New Customer</a>
        </div>
    </div>
</div>
{% endblock %}